.section {
  &__One {
    background: url("../../images/bannerDV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logoName {
      margin-left: 2.5rem;
      width: 500px;
    }
    .sectionContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
      .question {
        color: white;
        font-family: "Rambla-Regular";
        font-size: 3.5rem;
        max-width: 800px;
        text-align: center;
        margin: 0 0 15px 0;
      }
      .answer {
        color: white;
        font-family: "Rambla-Bold";
        font-size: 1.2rem;
        text-align: center;
      }
      .buttonGroup {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        margin-top: 80px;
        .botonHome {
          text-transform: none;
          background: linear-gradient(
            180deg,
            rgba(172, 147, 69, 0.96) 0%,
            #fff5d5 47.4%,
            #ac9345 88.54%
          );
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          width: 150px;
          height: 60px;
          font-size: 1.1rem;
          color: black;
          font-family: "Roboto-Bold";
          &:hover {
            background: linear-gradient(
              180deg,
              #f8edc9 0%,
              #ac9345 48.44%,
              #fff5d5 100%
            );
            color: white;
          }
        }
      }
    }
  }
  &__Two {
    background: url("../../images/bannerDisney.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .whatIs {
      .textContainer {
        background: linear-gradient(
          180deg,
          #7e7e7e 0%,
          rgba(172, 147, 69, 0) 53.65%,
          #7e7e7e 100%
        );
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 100px;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;

        p {
          font-family: "Rambla-Bold";
          font-style: normal;
          font-size: 25px;
          line-height: 31px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #fffbfb;
          width: 550px;
        }
      }
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(2, 1, 24, 0.85);

      box-sizing: border-box;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 56px;
      }
    }
  }
  &__Three {
    background-image: url("../../images/bannerVS.jpg");
    background-size: cover;
    background-position: center;
    height: 540px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.footerHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Rambla-Regular";
  align-items: center;
  background: rgb(0, 0, 0);

  .footerImages {
    p {
      cursor: auto;
      margin-left: 15px;
      font-weight: normal;
      font-size: 20px;
      line-height: 42px;
      color: white;
    }
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
    .redesSociales {
      width: 35px;
    }
    .redesSocialesIG {
      width: 60px;
    }
  }
  .footerEnd {
    font-size: 20px;
    line-height: 42px;
    margin-right: 15px;
    color: white;
  }
}

// MODALES
.boxModal {
  width: 28.25rem;
  background: linear-gradient(180deg, #7e7e7e 0%, #ffffff 50%, #7e7e7e 100%);
  border: 2px solid #020118;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  overflow: auto;
  border-bottom: 1px solid #020118;
  padding-bottom: 15px;

  .modalUpperHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 0px 40px;
    .modalTitle {
      font-family: "Rambla-Bold";
      font-size: 1.6rem;
      margin: 10px 10px 5px 10px;
    }
    .logoBlack {
      width: 290px;
    }
  }
  .modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    .modalBodyBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      .photoContainer {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
        width: 90%;
        .uploadText {
          color: gray;
          font-family: "Rambla-Regular";
        }
        .buttonChoose {
          background-color: #7e7e7e;
          text-transform: none;
          font-size: small;
          padding: 5px;
          margin-left: 30px;
        }
      }
    }
    .botonLogin {
      text-transform: none;
      background: linear-gradient(
        180deg,
        rgba(172, 147, 69, 0.96) 0%,
        #fff5d5 47.4%,
        #ac9345 88.54%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: 255px;
      height: 40px;
      font-size: 1rem;
      align-items: center;
      color: black;
      font-family: "Roboto-Bold";
      padding-bottom: 10px;
      margin-bottom: 20px;

      &:hover {
        background: linear-gradient(
          180deg,
          #f8edc9 0%,
          #ac9345 48.44%,
          #fff5d5 100%
        );
        color: white;
      }
    }
  }
  .modalLower {
    display: flex;
    justify-content: center;
    .modalLowerText {
      font-family: "Roboto-Bold";
      font-size: 0.8rem;
      .linkTo {
        text-decoration: underline;
        text-transform: none;
        color: black;
        font-family: "Roboto-Bold";
        padding: 0px;
        font-size: 0.8rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}
